/vendor/
# Environment variables
.env
.env.*


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/

# Flask
instance/

# Database  
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vendor (у тебя уже есть)
/vendor/